@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Pavanam&family=Paytone+One&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  background-color: #0F1035; }

/*COMPONENTS/BUTTONS*/
.buttonOutlined, .headerHome .contenedorBotonexplorar a {
  font-family: "Pavanam";
  color: white;
  font-weight: lighter;
  font-size: 25px;
  text-decoration: none;
  padding: 5px 23px 5px 23px;
  border: 1px;
  border-style: solid;
  border-radius: 3px; }

.opcionesGrid {
  margin-top: 100px;
  margin-bottom: 100px;
  height: 310px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  grid-template-rows: 30px 240px 30px;
  justify-content: center;
  justify-items: center;
  gap: 20px; }
  .opcionesGrid .opcion1H3 {
    font-family: "Pavanam";
    color: white;
    font-weight: lighter;
    font-size: 25px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; }
  .opcionesGrid .opcion1Act {
    height: 240px;
    width: 240px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative; }
  .opcionesGrid .opcion2Act {
    height: 240px;
    width: 240px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative; }
  .opcionesGrid .linkVerMas {
    font-family: "Pavanam";
    color: white;
    font-weight: lighter;
    text-decoration: none;
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4; }
    .opcionesGrid .linkVerMas:hover {
      color: orange; }
  .opcionesGrid .opcion2H3 {
    font-family: "Pavanam";
    color: white;
    font-weight: lighter;
    font-size: 25px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2; }
  .opcionesGrid .opcion1Hoteles {
    height: 240px;
    width: 240px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative; }
  .opcionesGrid .opcion2Hoteles {
    height: 240px;
    width: 240px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative; }
  .opcionesGrid .linkVerMas2 {
    font-family: "Pavanam";
    color: white;
    font-weight: lighter;
    text-decoration: none;
    font-size: 20px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4; }
    .opcionesGrid .linkVerMas2:hover {
      color: orange; }

.imgOpciones {
  width: 100%;
  height: 100%; }

.ulOpciones {
  list-style: none;
  position: absolute;
  bottom: 0;
  margin: 6px; }

.li1 {
  font-family: "Pavanam";
  color: white;
  font-weight: bolder; }

.li2 {
  font-family: "Pavanam";
  color: white;
  font-weight: lighter; }

/*HEADER INDEX*/
.headerHome {
  background-image: url(../assets/img/fondos/imgfondohome.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%; }
  .headerHome .contenedorh1Argentina {
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px; }
    .headerHome .contenedorh1Argentina p {
      color: white;
      font-family: "Pavanam";
      font-weight: lighter;
      font-size: 20px;
      text-shadow: 2px 2px 3px black; }
    .headerHome .contenedorh1Argentina .h1Argentina {
      font-family: "Paytone One";
      color: white;
      font-size: 100px;
      text-shadow: 2px 2px 3px black; }
  .headerHome .contenedorBotonexplorar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    height: 70px; }

/*FOOTER*/
.footer {
  background-color: #0F1035;
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 80px 5px #a5a6d1; }
  .footer .divfooterUno {
    justify-self: left;
    width: 100%;
    height: auto;
    margin-left: 15px; }
    .footer .divfooterUno .logoFooter {
      width: 180px;
      height: auto; }
  .footer .divfooterDos {
    width: 100%;
    height: auto;
    justify-self: center;
    align-self: center; }
    .footer .divfooterDos p {
      color: white;
      font-family: "Pavanam";
      font-size: 25px;
      text-align: center;
      margin-bottom: 10px; }
    .footer .divfooterDos .contenedorRedesFooter {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px; }
      .footer .divfooterDos .contenedorRedesFooter .imgFooter {
        cursor: pointer;
        width: 40px;
        height: 40px;
        height: auto; }
  .footer .divfooterTres {
    width: 100%;
    height: auto;
    justify-self: right;
    align-self: center;
    margin-right: 15px; }
    .footer .divfooterTres .listaFooter {
      color: white;
      list-style: none;
      text-align: right; }
      .footer .divfooterTres .listaFooter li a {
        font-family: "Pavanam";
        color: white;
        text-decoration: none; }

/*modificación de las sombras del footer de la página contacto*/
.footerContacto {
  box-shadow: none; }

/*BARRA DE NAVEGACIÓN*/
.nav {
  width: 100%;
  height: 75px;
  background-color: #0f1035d7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  gap: 0px;
  position: relative; }
  .nav input, .nav label {
    display: none; }
  .nav .iconoMenu {
    font-size: 70px;
    color: #ffffff7a;
    text-align: center;
    margin-left: 15px;
    user-select: none; }
  .nav .aLogoNav2 {
    position: absolute;
    justify-self: center;
    align-self: center; }
    .nav .aLogoNav2 .logoNav2 {
      width: 200px;
      height: auto;
      background-color: #0F1035;
      border-radius: 35px 35px 100px 100px;
      display: none; }
  .nav .aLogoNav3 {
    position: absolute;
    justify-self: center;
    align-self: center;
    display: none; }
    .nav .aLogoNav3 img {
      height: 70px;
      width: auto; }
  .nav .contenedorNav {
    width: 100%;
    height: auto;
    margin-left: 15px; }
    .nav .contenedorNav .contenedorLinksNav {
      width: 100%;
      height: 75px;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 40px; }
      .nav .contenedorNav .contenedorLinksNav .linksNav {
        font-family: "Pavanam";
        color: white;
        font-size: 1.5625rem;
        text-decoration: none; }
        .nav .contenedorNav .contenedorLinksNav .linksNav:hover {
          color: orange; }
      .nav .contenedorNav .contenedorLinksNav .logoNav {
        width: 200px;
        height: auto;
        background-color: #0F1035;
        border-radius: 35px 35px 100px 100px; }
  .nav .divnavCuenta {
    width: 60px;
    height: auto;
    align-self: center;
    margin-right: 15px; }
    .nav .divnavCuenta .logoCuenta {
      height: 55px;
      width: auto;
      cursor: pointer; }

/*SECCIÓN-1 INDEX*/
.secciónDosPáginaHome {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row; }
  .secciónDosPáginaHome .redesHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 15px; }
    .secciónDosPáginaHome .redesHome img {
      height: 40px;
      width: 40px;
      cursor: pointer; }
  .secciónDosPáginaHome .presentacionGrid {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 75px 75px 260px 400px;
    grid-template-rows: 75px 75px 75px 1px;
    justify-content: center;
    align-content: center; }
    .secciónDosPáginaHome .presentacionGrid img {
      height: 360px;
      width: 230px; }
    .secciónDosPáginaHome .presentacionGrid .imgAzul {
      border: 3px solid orangered;
      grid-column-start: 2;
      grid-row-start: 2; }
    .secciónDosPáginaHome .presentacionGrid .imgUnoPresentacion {
      grid-column-start: 3;
      grid-row-start: 1; }
    .secciónDosPáginaHome .presentacionGrid .imgDosPresentacion {
      grid-column-start: 1;
      grid-row-start: 3; }
    .secciónDosPáginaHome .presentacionGrid .articlePresentacion {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      grid-column-start: 4;
      grid-row-start: 1;
      grid-row-end: 5; }
      .secciónDosPáginaHome .presentacionGrid .articlePresentacion h2 {
        font-family: "Paytone One";
        color: white;
        font-size: 35px;
        letter-spacing: 3px;
        font-weight: lighter; }
      .secciónDosPáginaHome .presentacionGrid .articlePresentacion p {
        font-family: "Pavanam";
        color: white;
        font-size: 23px;
        font-weight: lighter;
        margin-top: 15px; }
      .secciónDosPáginaHome .presentacionGrid .articlePresentacion a {
        text-decoration: none;
        background-color: orangered;
        color: white;
        font-family: "Pavanam";
        font-weight: lighter;
        font-size: 23px;
        padding: 5px 20px 5px 20px;
        border-radius: 4px;
        align-self: center;
        margin-top: 15px; }

/*SECCIÓN-2 INDEX*/
.secciónTresPáginaHome {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px; }
  .secciónTresPáginaHome .h3DestinosPopulares {
    color: white;
    font-family: "Pavanam";
    font-weight: lighter;
    font-size: 35px;
    text-align: left;
    width: 95%; }
  .secciónTresPáginaHome .contenedorDestinos {
    width: 97%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px; }
    .secciónTresPáginaHome .contenedorDestinos .contenedorImgDestinos {
      position: relative;
      height: 200px;
      width: 200px; }
      .secciónTresPáginaHome .contenedorDestinos .contenedorImgDestinos img {
        height: 200px;
        width: 200px; }
      .secciónTresPáginaHome .contenedorDestinos .contenedorImgDestinos .ulDestinos {
        position: absolute;
        bottom: 0;
        margin: 10px;
        list-style: none; }
        .secciónTresPáginaHome .contenedorDestinos .contenedorImgDestinos .ulDestinos .liUno {
          color: white;
          font-family: "Pavanam";
          font-weight: bold;
          font-size: 20px;
          cursor: pointer; }
        .secciónTresPáginaHome .contenedorDestinos .contenedorImgDestinos .ulDestinos .liDos {
          color: white;
          font-family: "Pavanam";
          font-weight: lighter;
          font-size: 20px;
          cursor: pointer; }
  .secciónTresPáginaHome .verMasLink {
    color: white;
    font-family: "Pavanam";
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-top: 10px; }
    .secciónTresPáginaHome .verMasLink:hover {
      color: orange; }
  .secciónTresPáginaHome .h3Actividades {
    color: white;
    font-family: "Pavanam";
    font-weight: lighter;
    font-size: 35px; }
  .secciónTresPáginaHome .h3Hoteles {
    color: white;
    font-family: "Pavanam";
    font-weight: lighter;
    font-size: 35px;
    text-align: right;
    width: 95%; }

/*PÁGINA DESTINOS*/
.headerDestinos {
  background-image: url(../assets/img/fondos/fondo-destinos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 100vh;
  width: 100%;
  margin-bottom: 40px; }
  .headerDestinos .seccionHeaderDestinos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    height: 85%; }
    .headerDestinos .seccionHeaderDestinos .h1Destinos {
      font-family: "Paytone One";
      color: white;
      text-align: left;
      font-size: 70px;
      text-shadow: 2px 2px 3px black;
      margin-left: 15px; }
    .headerDestinos .seccionHeaderDestinos .redesDestinos {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-right: 15px; }
      .headerDestinos .seccionHeaderDestinos .redesDestinos img {
        height: 45px;
        width: 45px;
        cursor: pointer; }

.seccionDestinos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
  width: 100%; }
  .seccionDestinos h2 {
    color: white;
    font-family: "Pavanam";
    font-weight: lighter;
    text-align: center; }
  .seccionDestinos .fondoContenedor {
    background-image: url(../assets/img/fondos/fondo-seccion-destinos.png);
    background-repeat: no-repeat;
    height: 350px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px; }
    .seccionDestinos .fondoContenedor .contenedorImagenesPrincipal {
      display: flex;
      flex-direction: row;
      gap: 20px; }
      .seccionDestinos .fondoContenedor .contenedorImagenesPrincipal .contenedorImagenes {
        background-color: #0F1035;
        width: 265px;
        height: 300px;
        border-color: #ffffff;
        border-width: 7px 0px 0px 7px;
        border-style: groove; }
        .seccionDestinos .fondoContenedor .contenedorImagenesPrincipal .contenedorImagenes .imgDestinos {
          height: 100%;
          width: 100%; }
      .seccionDestinos .fondoContenedor .contenedorImagenesPrincipal .contenedorimagenesDos {
        background-color: #0F1035;
        width: 265px;
        height: 300px;
        border-color: #ffffff;
        border-width: 7px 7px 0px 0px;
        border-style: groove; }
        .seccionDestinos .fondoContenedor .contenedorImagenesPrincipal .contenedorimagenesDos .imgDestinos {
          height: 100%;
          width: 100%; }
  .seccionDestinos .contenedorArticulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 23%;
    height: 300px; }
    .seccionDestinos .contenedorArticulo h3 {
      font-family: "Pavanam";
      color: white;
      font-weight: lighter; }
    .seccionDestinos .contenedorArticulo .contenedorTexto {
      border-top: 3px;
      border-right: 3px;
      border-bottom: 3px;
      border-left: 0px;
      border-color: orangered;
      border-style: solid;
      padding: 2px; }
      .seccionDestinos .contenedorArticulo .contenedorTexto p {
        font-family: "Pavanam";
        color: white;
        font-size: 18px;
        font-weight: lighter;
        text-align: center; }
  .seccionDestinos .contenedorarticuloDos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 23%;
    height: 300px; }
    .seccionDestinos .contenedorarticuloDos h3 {
      font-family: "Pavanam";
      color: white;
      font-weight: lighter; }
    .seccionDestinos .contenedorarticuloDos .contenedortextoDos {
      border-top: 3px;
      border-right: 0px;
      border-bottom: 3px;
      border-left: 3px;
      border-color: orangered;
      border-style: solid;
      padding: 2px; }
      .seccionDestinos .contenedorarticuloDos .contenedortextoDos p {
        font-family: "Pavanam";
        color: white;
        font-size: 18px;
        font-weight: lighter;
        text-align: center; }

.headerActividades {
  background-image: url(../assets/img/fondos/fondo-actividades.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 100vh;
  width: 100%; }
  .headerActividades .seccionHeaderActividades {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    width: 100%;
    height: 85%; }
    .headerActividades .seccionHeaderActividades .redesActividades {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-left: 15px; }
      .headerActividades .seccionHeaderActividades .redesActividades img {
        height: 45px;
        width: 45px;
        cursor: pointer; }
    .headerActividades .seccionHeaderActividades .h1Actividades {
      font-family: "Paytone One";
      color: white;
      text-align: right;
      font-size: 70px;
      margin-right: 15px;
      text-shadow: 2px 2px 3px black; }

.contenedorPrincipal {
  display: grid;
  grid-template-columns: 570px 570px;
  justify-content: center;
  margin-top: 100px;
  gap: 30px; }
  .contenedorPrincipal .contenedorSecundario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 550px;
    height: 525px;
    border: 2px;
    border-color: orangered;
    border-style: solid; }
    .contenedorPrincipal .contenedorSecundario .legendAct {
      font-family: "Pavanam";
      color: white;
      background-color: #0F1035;
      font-size: 30px;
      text-align: center; }
    .contenedorPrincipal .contenedorSecundario p {
      font-family: "Pavanam";
      color: white;
      font-size: 20px;
      text-align: center;
      font-weight: lighter; }
    .contenedorPrincipal .contenedorSecundario .contenedorUno {
      display: flex;
      flex-direction: row;
      gap: 15px; }
      .contenedorPrincipal .contenedorSecundario .contenedorUno .contenedorDos {
        height: 250px;
        width: 250px;
        background-color: white; }
        .contenedorPrincipal .contenedorSecundario .contenedorUno .contenedorDos .imgDestinos {
          height: 100%;
          width: 100%; }
    .contenedorPrincipal .contenedorSecundario .botonExcursion {
      font-family: "Pavanam";
      color: white;
      font-size: 18px;
      text-decoration: none;
      padding: 4px;
      margin-bottom: 20px;
      border-radius: 3px;
      border: 1px;
      border-color: #ffffff;
      border-style: solid; }

.headerHoteles {
  background-image: url(../assets/img/fondos/fondo-hoteles.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 100vh;
  width: 100%;
  margin-bottom: 100px; }
  .headerHoteles .seccionHeaderHoteles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px; }
    .headerHoteles .seccionHeaderHoteles .h1Hoteles {
      font-family: "Paytone One";
      color: white;
      text-align: center;
      font-size: 70px;
      text-shadow: 2px 2px 3px black;
      height: 320px;
      margin-top: 80px; }
    .headerHoteles .seccionHeaderHoteles .redesHoteles {
      display: flex;
      flex-direction: row;
      gap: 10px; }
      .headerHoteles .seccionHeaderHoteles .redesHoteles img {
        height: 45px;
        width: 45px;
        cursor: pointer; }

/*aca comienzan las modificaciones del main*/
.seccionPrincipalHoteles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
  height: 950px; }

.contenedorHoteles {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border: 2px;
  border-color: orangered;
  border-style: solid;
  width: 1000px;
  height: 390px; }

.articleHoteles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  background-color: #D9D9D9;
  height: 365px;
  width: 310px; }

.estrellasHoteles {
  align-self: center; }

.imgHoteles {
  background-color: #365486;
  width: 290px;
  height: 200px;
  align-self: center; }

.articleHoteles ul {
  list-style: none;
  color: #000000;
  font-family: "Pavanam";
  margin-left: 8px; }

.botonReservarHotel {
  align-self: center;
  text-decoration: none;
  padding: 0px 5px 0px 5px;
  color: #000000;
  font-family: "Pavanam";
  font-weight: lighter;
  border: 1px;
  border-color: #000000;
  border-style: solid;
  border-radius: 2px; }

/*PÁGINA CONTACTO*/
/*fondo*/
.headerContacto {
  background-image: url(../assets/img/fondos/fondocontactanos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 100vh;
  width: 100%; }

/*modificaciones título*/
.h1Contacto {
  font-family: "Paytone One";
  color: #ffffff;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  text-shadow: 2px 2px 3px black; }

/*aca se encuentra el form de la página contacto*/
.formularioContacto {
  width: 100%;
  height: 410px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center; }

.grid {
  list-style: none;
  width: 1060px;
  height: 420px;
  border-top: 2px;
  border-right: 2px;
  border-bottom: 2px;
  border-left: 2px;
  border-style: solid;
  border-color: orangered;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 15px;
  grid-template-columns: 400px repeat(2, 300px);
  grid-template-rows: 70px 70px 70px 70px 50px;
  grid-template-areas: "areaUno areaDos areaTres" "areaUno areaCuatro areaCuatro" "areaUno areaCinco areaCinco" "areaUno areaCinco areaCinco" ". areaSeis areaSeis"; }

.areaUno {
  grid-area: areaUno; }

.areaUno img {
  width: 100%;
  height: 325px; }

.areaDos {
  grid-area: areaDos; }

.areaDos input {
  width: 100%;
  height: 100%; }

.areaTres {
  grid-area: areaTres; }

.areaTres input {
  height: 100%;
  width: 100%; }

.areaCuatro {
  grid-area: areaCuatro; }

.areaCuatro input {
  width: 100%;
  height: 100%; }

.areaCinco {
  grid-area: areaCinco; }

.areaCinco textarea {
  height: 100%;
  width: 100%; }

.areaSeis {
  grid-area: areaSeis;
  justify-self: center; }

.areaSeis input {
  width: 150px;
  height: 50px;
  background-color: orangered;
  color: #ffffff;
  font-family: "Pavanam";
  font-size: 19px;
  border-radius: 3px;
  border: none; }

.grid li input::placeholder {
  font-family: "Pavanam";
  font-size: 20px; }

.grid li textarea::placeholder {
  font-family: "Pavanam";
  font-size: 20px; }

/*MEDIAS QUERIES*/
/*PÁGINA INDEX*/
@media (max-width: 1300px) {
  .contenedorh1Argentina {
    height: 340px; }
  .secciónDosPáginaHome .presentacionGrid {
    grid-template-columns: 75px 75px 260px 300px; }
    .secciónDosPáginaHome .presentacionGrid .articlePresentacion h2 {
      font-size: 30px; }
  .secciónTresPáginaHome {
    height: 610px; }
    .secciónTresPáginaHome .h3DestinosPopulares {
      width: 75%; }
    .secciónTresPáginaHome .contenedorDestinos {
      flex-wrap: wrap;
      justify-content: center; }
    .secciónTresPáginaHome .h3Hoteles {
      width: 75%; } }

/*PÁGINA DESTINOS*/
@media (max-width: 1210px) {
  .headerDestinos .seccionHeaderDestinos {
    height: 80%; }
    .headerDestinos .seccionHeaderDestinos .h1Destinos {
      font-size: 55px; }
  .heightMediaQuery1 {
    width: 100%;
    height: 1450px; }
  .heightMediaQuery2 {
    width: 100%;
    height: 900px; }
  .heightMediaQuery3 {
    width: 100%;
    height: 530px; }
  .seccionDestinos .fondoContenedor {
    height: 1000px;
    width: 1100px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0px; }
    .seccionDestinos .fondoContenedor .contenedorImagenesPrincipal {
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 280px; }
      .seccionDestinos .fondoContenedor .contenedorImagenesPrincipal .contenedorImagenes {
        width: 225px;
        height: 260px; }
      .seccionDestinos .fondoContenedor .contenedorImagenesPrincipal .contenedorimagenesDos {
        width: 225px;
        height: 260px; }
    .seccionDestinos .fondoContenedor .contenedorArticulo {
      width: 60%;
      height: 130px; }
      .seccionDestinos .fondoContenedor .contenedorArticulo .contenedorTexto {
        border-top: 3px;
        border-right: 3px;
        border-bottom: 0px;
        border-left: 3px;
        border-color: orangered;
        border-style: solid; }
    .seccionDestinos .fondoContenedor .contenedorarticuloDos {
      width: 60%;
      height: 130px; }
      .seccionDestinos .fondoContenedor .contenedorarticuloDos .contenedortextoDos {
        border-top: 3px;
        border-right: 3px;
        border-bottom: 0px;
        border-left: 3px;
        border-color: orangered;
        border-style: solid; }
    .seccionDestinos .fondoContenedor .widthMediaQuery {
      width: 60%; }
  .seccionDestinos .fondoElBolsón .contenedorarticuloDos {
    width: 40%;
    height: 160px; }
  .seccionDestinos .noReverseMediaQuery {
    flex-direction: column; } }

/*PÁGINA DESTINOS*/
@media (max-width: 1100px) {
  .seccionDestinos .fondoContenedor {
    width: 100%; }
  .opcionesGrid {
    height: 720px;
    grid-template-columns: repeat(2, 260px);
    grid-template-rows: 30px 240px 50px 30px 240px 30px; }
    .opcionesGrid .opcion1H3 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2; }
    .opcionesGrid .opcion1Act {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3; }
    .opcionesGrid .opcion2Act {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3; }
    .opcionesGrid .linkVerMas {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4; }
    .opcionesGrid .opcion2H3 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5; }
    .opcionesGrid .opcion1Hoteles {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 6; }
    .opcionesGrid .opcion2Hoteles {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6; }
    .opcionesGrid .linkVerMas2 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 6;
      grid-row-end: 7; } }

@media (max-width: 900px) {
  /*BARRA DE NAVEGACIÓN*/
  .nav #toggle:checked ~ .contenedorNav {
    height: 270px; }
  .nav label {
    display: inline-flex;
    cursor: pointer; }
  .nav .aLogoNav2 .logoNav2 {
    display: inline-block; }
  .nav .contenedorNav {
    width: 100%;
    height: 0;
    margin-left: 0px;
    overflow: hidden;
    margin-top: 75px; }
    .nav .contenedorNav .contenedorLinksNav {
      width: 170px;
      height: 270px;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 40px;
      background-color: #0f1035d7; }
      .nav .contenedorNav .contenedorLinksNav .liLogo {
        display: none; }
  /*PÁGINA INDEX*/
  .headerHome {
    height: 600px; }
  .secciónDosPáginaHome {
    height: 700px;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px; }
    .secciónDosPáginaHome .redesHome {
      flex-direction: row;
      margin-left: 0px;
      margin-top: 20px; }
  /*PÁGINA DESTINOS*/
  .heightMediaQuery1 {
    width: 100%;
    height: 1450px; }
  .heightMediaQuery2 {
    width: 100%;
    height: 900px; }
  .heightMediaQuery3 {
    width: 100%;
    height: 530px; }
  .seccionDestinos .fondoContenedor .contenedorArticulo {
    width: 75%;
    height: 130px; }
  .seccionDestinos .fondoContenedor .widthMediaQuery {
    width: 75%; } }

@media (max-width: 720px) {
  /*PÁGINA INDEX MODIFICACIONES*/
  .headerHome {
    height: 600px; }
    .headerHome .contenedorh1Argentina {
      height: 300px; }
      .headerHome .contenedorh1Argentina p {
        width: 70%;
        text-align: center; }
      .headerHome .contenedorh1Argentina .h1Argentina {
        font-size: 80px; }
  .secciónDosPáginaHome {
    width: 100%;
    height: 1000px;
    margin-bottom: 50px; }
    .secciónDosPáginaHome .presentacionGrid {
      height: 850px;
      width: 100%;
      flex-direction: column;
      display: grid;
      grid-template-columns: 55px 55px 55px 350px;
      grid-template-rows: 500px 75px 75px 75px; }
      .secciónDosPáginaHome .presentacionGrid .articlePresentacion {
        display: flex;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
        margin-bottom: 190px; }
        .secciónDosPáginaHome .presentacionGrid .articlePresentacion h2 {
          font-size: 25px; }
        .secciónDosPáginaHome .presentacionGrid .articlePresentacion p {
          font-size: 23px;
          margin-top: 15px; }
      .secciónDosPáginaHome .presentacionGrid img {
        height: 400px;
        width: 270px; }
      .secciónDosPáginaHome .presentacionGrid .imgAzul {
        grid-column-start: 3;
        grid-row-start: 3; }
      .secciónDosPáginaHome .presentacionGrid .imgUnoPresentacion {
        grid-column-start: 4;
        grid-row-start: 2; }
      .secciónDosPáginaHome .presentacionGrid .imgDosPresentacion {
        grid-column-start: 2;
        grid-row-start: 4; }
  .secciónTresPáginaHome {
    height: 700px; }
    .secciónTresPáginaHome .h3DestinosPopulares {
      width: 60%;
      font-size: 35px; }
    .secciónTresPáginaHome .contenedorDestinos {
      width: 97%;
      height: auto;
      gap: 23px; }
    .secciónTresPáginaHome .h3Hoteles {
      width: 60%;
      font-size: 35px; }
  /*PÁGINA DESTINOS*/
  .seccionDestinos .fondoContenedor .contenedorImagenesPrincipal .contenedorImagenes {
    width: 215px;
    height: 250px; }
  .seccionDestinos .fondoContenedor .contenedorImagenesPrincipal .contenedorimagenesDos {
    width: 215px;
    height: 250px; }
  .seccionDestinos .fondoContenedor .contenedorArticulo {
    width: 75%;
    height: 130px; }
  .seccionDestinos .fondoContenedor .contenedorarticuloDos {
    width: 75%;
    height: 130px; }
  .seccionDestinos .fondoContenedor .widthMediaQuery {
    width: 75%; }
  .seccionDestinos .fondoElBolsón .contenedorarticuloDos {
    width: 50%;
    height: 160px; } }

@media (max-width: 690px) {
  /*PÁGINA DESTINOS*/
  .seccionDestinos {
    gap: 30px; }
    .seccionDestinos .fondoContenedor .noReverseMediaQuery {
      background-image: none;
      width: 100%;
      height: 1100px; }
    .seccionDestinos .fondoContenedor {
      height: 1250px;
      background-image: none; }
    .seccionDestinos .fondoContenedor .contenedorImagenesPrincipal:not(.contenedorImgBolsón) {
      flex-direction: column;
      height: 2000px; }
    .seccionDestinos .fondoContenedor .contenedorImagenesPrincipal .contenedorImagenes {
      width: 280px;
      height: 315px; }
    .seccionDestinos .fondoContenedor .contenedorImagenesPrincipal .contenedorimagenesDos {
      width: 280px;
      height: 315px; }
    .seccionDestinos .fondoContenedor .contenedorImgBolsón {
      flex-direction: column;
      width: 100%;
      height: 650px; }
    .seccionDestinos .fondoContenedor .contenedorArticulo {
      width: 280px;
      height: 365px; }
    .seccionDestinos .fondoContenedor .contenedorarticuloDos {
      width: 280px;
      height: 290px; }
    .seccionDestinos .fondoContenedor .widthMediaQuery {
      width: 280px; }
    .seccionDestinos .fondoElBolsón {
      background-image: none;
      height: 900px;
      width: 100%; }
      .seccionDestinos .fondoElBolsón .contenedorarticuloDos {
        height: 210px;
        margin-bottom: 20px; }
  .heightMediaQuery1 {
    height: 3500px;
    align-items: center; }
  .heightMediaQuery2 {
    height: 2600px; }
  .heightMediaQuery3 {
    height: 1330px; }
    .heightMediaQuery3 .noReverseMediaQuery {
      height: 1300px;
      width: 100%; }
  .opcionesGrid {
    height: 1250px;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 240px 240px 30px 30px 240px 240px 30px; }
    .opcionesGrid .opcion1H3 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2; }
    .opcionesGrid .opcion1Act {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3; }
    .opcionesGrid .opcion2Act {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4; }
    .opcionesGrid .linkVerMas {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5; }
    .opcionesGrid .opcion2H3 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 6; }
    .opcionesGrid .opcion1Hoteles {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 6;
      grid-row-end: 7; }
    .opcionesGrid .opcion2Hoteles {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 7;
      grid-row-end: 8; }
    .opcionesGrid .linkVerMas2 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 8;
      grid-row-end: 9; } }

@media (max-width: 665px) {
  /*PÁGINA HOME*/
  /*secciones*/
  .secciónTresPáginaHome {
    height: 950px; }
  /*PÁGINA DESTINOS*/
  .headerDestinos .seccionHeaderDestinos .h1Destinos {
    font-size: 40px; }
  .headerDestinos .seccionHeaderDestinos .redesDestinos img {
    height: 33px;
    width: 33px; } }

@media (max-width: 565px) {
  .footer {
    align-items: center; }
    .footer .divfooterUno .logoFooter {
      width: 140px; }
    .footer .divfooterDos p {
      font-size: 23px; }
    .footer .divfooterDos .contenedorRedesFooter .imgFooter {
      width: 30px;
      height: 30px; } }

@media (max-width: 510px) {
  /*PÁGINA INDEX MODIFICACIONES*/
  .headerHome {
    background-image: url(../assets/img/fondos/imgfondohome-510px.png);
    height: 550px; }
    .headerHome .contenedorh1Argentina .h1Argentina {
      font-size: 65px; }
  .secciónDosPáginaHome {
    height: 1100px; }
    .secciónDosPáginaHome .presentacionGrid {
      height: 980px;
      grid-template-columns: 1px 55px 55px 250px;
      grid-template-rows: 700px 75px 75px 75px;
      margin-bottom: 50px;
      text-align: center; } }

@media (max-width: 436px) {
  /*BARRA DE NAVEGACIÓN MODIFICACIONES*/
  .nav label .iconoMenu {
    font-size: 55px;
    margin-left: 0px;
    padding-top: 7px; }
  .nav .aLogoNav2 .logoNav2 {
    display: none; }
  .nav .aLogoNav3 {
    display: inline-block; }
  .nav .divnavCuenta .logoCuenta {
    height: 45px; }
  /*FOOTER MODIFICACIONES*/
  .footer {
    height: 350px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px; }
    .footer .divfooterUno {
      text-align: center;
      margin-left: 0px;
      margin-top: 0px; }
    .footer .divfooterDos p {
      font-size: 20px; }
    .footer .divfooterTres {
      margin-right: 0px; }
      .footer .divfooterTres .listaFooter {
        text-align: center; }
  /*PÁGINA INDEX MODIFICACIONES*/
  .headerHome {
    background-image: url(../assets/img/fondos/imgfondohome-320px.png);
    height: 100vh; }
    .headerHome .contenedorh1Argentina {
      width: 100%;
      height: 260px; }
      .headerHome .contenedorh1Argentina p {
        font-size: 18px;
        width: 70%; }
      .headerHome .contenedorh1Argentina .h1Argentina {
        font-size: 50px; }
  .secciónDosPáginaHome {
    height: 1150px; }
    .secciónDosPáginaHome .presentacionGrid {
      height: 1180px;
      grid-template-columns: 1px 50px 50px 170px;
      grid-template-rows: 800px 75px 75px 75px;
      margin-bottom: 150px; }
      .secciónDosPáginaHome .presentacionGrid .articlePresentacion {
        margin-bottom: 130px; }
        .secciónDosPáginaHome .presentacionGrid .articlePresentacion h2 {
          font-size: 25px; }
        .secciónDosPáginaHome .presentacionGrid .articlePresentacion p {
          font-size: 23px;
          margin-top: 15px; }
      .secciónDosPáginaHome .presentacionGrid img {
        height: 300px;
        width: 170px; }
  .secciónTresPáginaHome {
    height: 1500px; }
    .secciónTresPáginaHome .h3DestinosPopulares {
      width: 70%;
      font-size: 35px;
      text-align: center; }
    .secciónTresPáginaHome .h3Hoteles {
      width: 100%;
      font-size: 35px;
      text-align: center; }
  /*PÁGINA DESTINOS*/
  /*modificaciones título principal*/
  .headerDestinos .seccionHeaderDestinos .h1Destinos {
    font-size: 30px; }
  .headerDestinos .seccionHeaderDestinos .redesDestinos img {
    height: 28px;
    width: 28px; }
  .contenedorArticulo {
    width: 69%;
    height: 365px; }
  /*aca está la card de dos imágenes*/
  .contenedorarticuloDos:not(.contenedorArticuloBsAs) {
    width: 69%;
    height: 290px; }
  .contenedorArticuloBsAs {
    width: 70%;
    height: 390px; }
  .widthMediaQuery {
    width: 69%; }
  /*ancho del artículo de bs as y misiones*/ }
