@import url('https://fonts.googleapis.com/css2?family=Pavanam&family=Paytone+One&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #0F1035;
}






/*BARRA DE NAVEGACIÓN*/

.nav{
    background-color: #0f1035d7;
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedorNav{
    width: 100%;
    height: auto;
    margin-left: 15px;
}

.contenedorLinksNav{
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.linksNav{
    font-family: "Pavanam";
    font-size: 25px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
} 

.logoNav{
    width: 200px;
    height: auto;
    background-color: #0F1035;
    border-radius: 35px 35px 100px 100px;
}

.logoCuenta{
    height: 55px;
    width: auto;
    cursor: pointer;
}

.divnavCuenta{
    width: 60px;
    height: auto;
    align-self: center;
    margin-right: 15px;
}

.listaNav{
    list-style: none;
}

.listaNav a:hover{
    color: rgb(228, 144, 34);
}






/*FOOTER*/

.footer{
    background-color: #0F1035;
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 100px 40px #a5a6d1;
}

.divfooterUno{
    justify-self: left;
    width: 100%;
    height: auto;
    margin-left: 15px;
}

.logoFooter{
    width: 180px;
    height: auto;
}

.divfooterDos{
    width: 100%;
    height: auto;
    justify-self: center;
    align-self: center;
}

.divfooterDos p{
    color: white;
    font-family: "Pavanam";
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.contenedorRedesFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.imgFooter{
    cursor: pointer;
    width: 40px;
    height: 40px;
    height: auto;
}

.divfooterTres{
    width: 100%;
    height: auto;
    justify-self: right;
    align-self: center;
    margin-right: 15px;
}

.listaFooter{
    color: white;
    list-style: none;
    text-align: right;
}

.listaFooter a{
    color: white;
    text-decoration: none;
}

/*modificación de las sombras del footer de la página contacto*/

.footerContacto{
    box-shadow: none;
}










/*PÁGINA HOME*/

/*fondo*/
.headerHome{
    background-image: url(../assets/img/fondos/imgfondohome.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
}

/*modificaciones (título principal, botón)*/
.contenedorh1Argentina{
    color: #ffffff;
    font-family: "Pavanam";
    font-weight: lighter;
    font-size: 20px;
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1Argentina{
    font-family: "Paytone One";
    color: #ffffff;
    font-size: 100px;
    text-shadow: 2px 2px 3px black;
}

.contenedorBotonexplorar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.contenedorBotonexplorar a{
    font-family: "Pavanam";
    color: #ffffff;
    font-weight: lighter;
    text-decoration: none;
    font-size: 25px;
    padding: 5px 23px 5px 23px;
    border: 1px;
    border-style: solid;
    border-radius: 3px;
}

/*aca empiezan las modificaciones de la sección 2*/

.secciónDosPáginaHome{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

/*redes sociales*/

.redesHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 15px;
}

.redesHome img{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

/*aca se encuentran las modificaciones de la presentación (3 img) con grid*/
.presentacionGrid{
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 75px 75px 260px 400px;
    grid-template-rows: 75px 75px 75px 1px;
    justify-content: center;
    align-content: center;
}

.presentacionGrid img{
    height: 360px;
    width: 230px;
}

.imgAzul{
    border: 3px solid orangered;
    grid-column-start: 2;
    grid-row-start: 2;
}

.imgUnoPresentacion{
    grid-column-start: 3;
    grid-row-start: 1;
}

.imgDosPresentacion{
    grid-column-start: 1;
    grid-row-start: 3;
}

.articlePresentacion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.articlePresentacion h2{
    font-family: "Paytone One";
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: lighter;
}

.articlePresentacion p{
    font-family: "Pavanam";
    color: #ffffff;
    font-size: 23px;
    font-weight: lighter;
    margin-top: 15px;
}

.articlePresentacion a{
    text-decoration: none;
    background-color: orangered;
    color: #ffffff;
    font-family: "Pavanam";
    font-weight: lighter;
    font-size: 23px;
    padding: 5px 20px 5px 20px;
    border-radius: 4px;
    align-self: center;
    margin-top: 15px;
}

/*modificaciones sección 3*/

/*modificaciones título Destinos Populares*/

.secciónTresPáginaHome{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.h3DestinosPopulares{
    color: #ffffff;
    font-family: "Pavanam";
    font-weight: lighter;
    font-size: 35px;
    text-align: left;
    width: 95%;;
}

.contenedorDestinos{
    width: 100%;
    height: 310px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contenedorImgDestinos{
    position: relative;
}

.ulDestinos{
    position: absolute;
    bottom: 0;
    margin: 10px;
    list-style: none;
}

.liUno{
    color: #ffffff;
    font-family: "Pavanam";
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.liDos{
    color: #ffffff;
    font-family: "Pavanam";
    font-weight: lighter;
    font-size: 20px;
    cursor: pointer;
}

.verMasLink{
    color: #ffffff;
    font-family: "Pavanam";
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.verMasLink:hover{
    color: orange;
}

/*modificaciones título Actividades*/
.h3Actividades{
    color: #ffffff;
    font-family: "Pavanam";
    font-weight: lighter;
    font-size: 35px;
}

/*modificaciones título Hoteles*/
.h3Hoteles{
    color: #ffffff;
    font-family: "Pavanam";
    font-weight: lighter;
    font-size: 35px;
    text-align: right;
    width: 95%;
}










/*PÁGINA DESTINOS*/

/*fondo*/
.headerDestinos{
    background-image: url(../assets/img/fondos/fondo-destinos.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 100vh;
    width: 100%;
}

/*modificaciones título principal y redes sociales*/
.seccionHeaderDestinos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 85%;
}

.redesDestinos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
}

.redesDestinos img{
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.h1Destinos{
    font-family: "Paytone one";
    color: #ffffff;
    text-align: right;
    font-size: 70px;
    text-shadow: 2px 2px 3px black;
    margin-right: 15px;
}

/*aca empiezan las modificaciones para las cards*/
.seccionDestinos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.espacioTop{
    margin-top: 25px;
}

/*aca se encuentran las modificaciones para la card de tres imágenes*/
.fondoContenedor{
    background-image: url(../assets/img/fondos/fondo-seccion-destinos.png);
    background-repeat: no-repeat;
    height: 350px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contenedorImagenes{
    background-color: #0F1035;
    width: 265px;
    height: 300px;
    border-color:#ffffff;
    border-width: 7px 0px 0px 7px;
    border-style: groove;
}

.contenedorTexto p{
    border-top: 3px;
    border-right: 3px;
    border-bottom: 3px;
    border-left: 0px;
    border-color: orangered;
    border-style: solid;
    padding: 2px;
    font-family: "Pavanam";
    color: #ffffff;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
}

.contenedorArticulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 23%;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.seccionDestinos h2{
    color: white;
    font-family: "Pavanam";
    font-weight: lighter;
    text-align: center;
    
}

.seccionDestinos h3{
    font-family: "Pavanam";
    color: #ffffff;
    font-weight: lighter;
}

.imgDestinos{
    height: 100%;
    width: 100%;
}

/*aca está la card de dos imágenes*/
.contenedorarticuloDos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 23%;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.contenedortextoDos{
    border-top: 3px;
    border-right: 0px;
    border-bottom: 3px;
    border-left: 3px;
    border-color: orangered;
    border-style: solid;
    text-align: center;
    font-size: 18px;
    font-family: "Pavanam";
    color: #ffffff;
    padding: 2px;
    font-weight: lighter;
}

.contenedorimagenesDos{
    background-color: #0F1035;
    width: 265px;
    height: 300px;
    border-color: #ffffff;
    border-width: 7px 7px 0px 0px;
    border-style: groove;
}

/*aca se encuentra la opción actividades/hoteles del final de la página destinos*/
.opcionesGrid{
    margin-top: 25px;
    margin-bottom: 25px;
    height: 310px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-template-rows: 30px 240px 30px;
    justify-content: center;
    justify-items: center;
    gap: 5px;
}

.opcion1H3{
    font-family: "Pavanam";
    color: #ffffff;
    font-weight: lighter;
    font-size: 25px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.opcion1Act{
    height: 240px;
    width: 240px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
}

.opcion2Act{
    height: 240px;
    width: 240px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
}

.linkVerMas{
    color: #ffffff;
    font-family: "Pavanam";
    font-weight: lighter;
    text-decoration: none;
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.opcion2H3{
    font-family: "Pavanam";
    color: #ffffff;
    font-weight: lighter;
    font-size: 25px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.opcion1Hoteles{
    height: 240px;
    width: 240px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
}

.opcion2Hoteles{
    height: 240px;
    width: 240px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
}

.linkVerMas2{
    color: #ffffff;
    font-family: "Pavanam";
    font-weight: lighter;
    text-decoration: none;
    font-size: 20px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.linkVerMas:hover{
    color: orange;
}

.linkVerMas2:hover{
    color:orange;
}

.imgOpciones{
    width: 100%;
    height: 100%;
}

.ulOpciones{
    list-style: none;
    position: absolute;
    bottom: 0;
    margin: 6px;
}

.li1{
    font-family: "pavanam";
    color: #ffffff;
    font-weight: bolder;
}

.li2{
    font-family: "Pavanam";
    color: #ffffff;
    font-weight: lighter;
}










/*PÁGINA ACTIVIDADES*/

/*fondo*/
.headerActividades{
    background-image: url(../assets/img/fondos/act.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 100vh;
    width: 100%;
}

/*modificaciones título y redes sociales*/
.seccionHeaderActividades{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85%;
    justify-content: space-between;
    align-items: center;
}

.redesActividades{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
}

.redesActividades img{
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.h1Actividades{
    font-family: "Paytone one";
    color: #ffffff;
    text-align: right;
    font-size: 70px;
    margin-right: 15px;
    text-shadow: 2px 2px 3px black;
}

/*aca comienzan las modificaciones del main*/
.contenedorPrincipal{
    display: grid;
    grid-template-columns: 570px 570px;
    justify-content: center;
    margin-top: 100px;
    gap: 30px;
}

.contenedorSecundario{
    width: 550px;
    height: 525px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 2px;
    border-color: orangered;
    border-style: solid;
}

.contenedorSecundario {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    font-family: "Pavanam";
    font-weight: lighter;
}

.legendAct{
    font-size: 30px;
    background-color: #0F1035;
}

.contenedorUno{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.contenedorDos{
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
}

.botonExcursion{
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    padding: 4px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px;
    border-color: #ffffff;
    border-style: solid;
}










/*PÁGINA HOTELES*/

/*fondo*/
.headerHoteles{
    background-image: url(../assets/img/fondos/fondohoteles.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 650px;
    width: 100%;
}

/*modificaciones titulo y redes sociales*/
.seccionHeaderHoteles{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.redesHoteles{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.redesHoteles img{
    height: 55px;
    width: 55px;
    cursor: pointer;
}

.h1Hoteles{
    font-family: "Paytone one";
    color: #ffffff;
    text-align: center;
    font-size: 70px;
    text-shadow: 2px 2px 3px black;
    height: 320px;
    margin-top: 80px;
}

/*aca comienzan las modificaciones del main*/
.seccionPrincipalHoteles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 950px;
}

.contenedorHoteles{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: 2px;
    border-color: orangered;
    border-style: solid;
    width: 1000px;
    height: 390px;
}

.articleHoteles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    background-color: #D9D9D9;
    height: 365px;
    width: 310px;
}

.estrellasHoteles{
    align-self: center;
}

.imgHoteles{
    background-color: #365486;
    width: 290px;
    height: 200px;
    align-self: center;
} 

.articleHoteles ul{
    list-style: none;
    color: #000000;
    font-family: "Pavanam";
    margin-left: 8px;
}

.botonReservarHotel{
    align-self: center;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    color: #000000;
    font-family: "Pavanam";
    font-weight: lighter;
    border: 1px;
    border-color: #000000;
    border-style: solid;
    border-radius: 2px;
}










/*PÁGINA CONTACTO*/

/*fondo*/
.headerContacto{
    background-image: url(../assets/img/fondos/fondocontactanos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 600px;
    width: 100%;
}

/*modificaciones título*/
.h1Contacto{
    font-family: "Paytone One";
    color: #ffffff;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 3px black;
}

/*aca se encuentra el form de la página contacto*/
.formularioContacto{
    width: 100%;
    height: 410px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.grid{
    list-style: none;
    width: 1060px;
    height: 420px;
    border-top: 2px;
    border-right: 2px;
    border-bottom: 2px;
    border-left: 2px;
    border-style: solid;
    border-color: orangered;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 15px;
    grid-template-columns: 400px repeat(2, 300px);
    grid-template-rows: 70px 70px 70px 70px 50px;
    grid-template-areas: 
    "areaUno areaDos areaTres"
    "areaUno areaCuatro areaCuatro"
    "areaUno areaCinco areaCinco"
    "areaUno areaCinco areaCinco"
    ". areaSeis areaSeis"
    ;
}

.areaUno{
    grid-area: areaUno;
}

.areaUno img{
    width: 100%;
    height: 325px;
}

.areaDos{
    grid-area: areaDos;
}

.areaDos input{
    width: 100%;
    height: 100%;
}

.areaTres{
    grid-area: areaTres;
}

.areaTres input{
    height: 100%;
    width: 100%;
}

.areaCuatro{
    grid-area: areaCuatro;
}

.areaCuatro input{
    width: 100%;
    height: 100%;
}

.areaCinco{
    grid-area: areaCinco;
}

.areaCinco textarea{
    height: 100%;
    width: 100%;
}

.areaSeis{
    grid-area: areaSeis;
    justify-self: center;
}

.areaSeis input{
    width: 150px;
    height: 50px;
    background-color: orangered;
    color: #ffffff;
    font-family: "Pavanam";
    font-size: 19px;
    border-radius: 3px;
    border: none;
}

.grid li input::placeholder{
    font-family: "Pavanam";
    font-size: 20px;
}

.grid li textarea::placeholder{
    font-family: "Pavanam";
    font-size: 20px;
}










/*MEDIA QUERIES*/

@media (max-width: 1194px) {

    /*modificaciones página home*/

    .presentacionGrid{
        grid-template-columns: 75px 75px 400px 400px;
    }

    /*modificaciones página destinos*/

    .fondoContenedor{
        height: 365px;
        width: 980px;
    }

    .contenedorImagenes{
        width: 230px;
        height: 300px;
    }
    .contenedorimagenesDos{
        width: 230px;
        height: 300px;
    }
    
    .contenedorArticulo{
        width: 190px;
        height: 300px;
    }
    .contenedorarticuloDos{
        width: 190px;
        height: 300px;
    }

    .contenedorTexto p{
        font-size: 16px;
    }
    .contenedortextoDos p{
        font-size: 16px;
    }

    .opcionesGrid{
        grid-template-columns: repeat(4, 230px);
    }

    .opcion1Act{
        height: 220px;
        width: 220px;
    }

    .opcion2Act{
        height: 220px;
        width: 220px;
    }

    .opcion1Hoteles{
        height: 220px;
        width: 220px;
    }

    .opcion2Hoteles{
        height: 220px;
        width: 220px;
    }

    /*modificaciones página actividades*/

    .contenedorPrincipal{
    grid-template-columns: 490px 490px;
    gap: 10px;
    }

    .contenedorSecundario{
        width: 370px;
        height: 460px;
        gap: 15px;
    }

    .legendAct{
        font-size: 18.5px;
    }

    .contenedorSecundario p{
        font-size: 16.5px;
    }

    .contenedorUno{
        gap: 13px;
        margin-right: 4px;
        margin-left: 4px;
    }
    .contenedorDos{
        height: 230px;
        width: 230px;
    }

    /*modificaciones página contacto*/
    .grid{
        grid-template-columns: 380px repeat(2, 280px);
        width: 1000px;
    }

}



