//UTILITIES
@import "./utilities/maps";

@import "./utilities/mixins";

@import "./utilities/variables";

@import "./utilities/funciones";

//BASE
@import "./base/reset";

@import "./base/fonts";

@import "./base/body-color";

//COMPONENTS
@import "./components/buttons/buttons";

//grids que se presenta al final de cada página (excepto index)
@import "./components/grids/grids";

/*HEADER INDEX*/
@import "./layout/header/header-index";

/*FOOTER*/
@import "./layout/footer/footer";

/*BARRA DE NAVEGACIÓN*/
@import "./components/navbar/navbar";

@import "./layout/index-sections/section-1";

@import "./layout/index-sections/section-2";

//PÁGINA DESTINOS

@import "./layout/header/header-destinos";

@import "./layout/destinos-sections/section-1";

//PÁGINA ACTIVIDADES

@import "./layout/header/header-actividades";

@import "./layout/actividades-sections/section-1";

//PÁGINA HOTELES

@import "./layout/header/header-hoteles";


/*aca comienzan las modificaciones del main*/
.seccionPrincipalHoteles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: 950px;
}

.contenedorHoteles{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: 2px;
    border-color: orangered;
    border-style: solid;
    width: 1000px;
    height: 390px;
}

.articleHoteles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    background-color: #D9D9D9;
    height: 365px;
    width: 310px;
}

.estrellasHoteles{
    align-self: center;
}

.imgHoteles{
    background-color: #365486;
    width: 290px;
    height: 200px;
    align-self: center;
} 

.articleHoteles ul{
    list-style: none;
    color: #000000;
    font-family: "Pavanam";
    margin-left: 8px;
}

.botonReservarHotel{
    align-self: center;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    color: #000000;
    font-family: "Pavanam";
    font-weight: lighter;
    border: 1px;
    border-color: #000000;
    border-style: solid;
    border-radius: 2px;
}










/*PÁGINA CONTACTO*/

/*fondo*/
.headerContacto{
    background-image: url(../assets/img/fondos/fondocontactanos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 100vh;
    width: 100%;
}

/*modificaciones título*/
.h1Contacto{
    font-family: "Paytone One";
    color: #ffffff;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 3px black;
}

/*aca se encuentra el form de la página contacto*/
.formularioContacto{
    width: 100%;
    height: 410px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.grid{
    list-style: none;
    width: 1060px;
    height: 420px;
    border-top: 2px;
    border-right: 2px;
    border-bottom: 2px;
    border-left: 2px;
    border-style: solid;
    border-color: orangered;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 15px;
    grid-template-columns: 400px repeat(2, 300px);
    grid-template-rows: 70px 70px 70px 70px 50px;
    grid-template-areas: 
    "areaUno areaDos areaTres"
    "areaUno areaCuatro areaCuatro"
    "areaUno areaCinco areaCinco"
    "areaUno areaCinco areaCinco"
    ". areaSeis areaSeis"
    ;
}

.areaUno{
    grid-area: areaUno;
}

.areaUno img{
    width: 100%;
    height: 325px;
}

.areaDos{
    grid-area: areaDos;
}

.areaDos input{
    width: 100%;
    height: 100%;
}

.areaTres{
    grid-area: areaTres;
}

.areaTres input{
    height: 100%;
    width: 100%;
}

.areaCuatro{
    grid-area: areaCuatro;
}

.areaCuatro input{
    width: 100%;
    height: 100%;
}

.areaCinco{
    grid-area: areaCinco;
}

.areaCinco textarea{
    height: 100%;
    width: 100%;
}

.areaSeis{
    grid-area: areaSeis;
    justify-self: center;
}

.areaSeis input{
    width: 150px;
    height: 50px;
    background-color: orangered;
    color: #ffffff;
    font-family: "Pavanam";
    font-size: 19px;
    border-radius: 3px;
    border: none;
}

.grid li input::placeholder{
    font-family: "Pavanam";
    font-size: 20px;
}

.grid li textarea::placeholder{
    font-family: "Pavanam";
    font-size: 20px;
}

/*MEDIAS QUERIES*/
@import "./layout/media-queries/max-width-1300px";

@import "./layout/media-queries/max-width-1210px";

@import "./layout/media-queries/max-width-1100px";

@import "./layout/media-queries/max-width-900px";

@import "./layout/media-queries/max-width-720px";

@import "./layout/media-queries/max-width-690px";

@import "./layout/media-queries/max-width-665px";

@import "./layout/media-queries/max-width-600px";

@import "./layout/media-queries/max-width-565px";

@import "./layout/media-queries/max-width-510px";

@import "./layout/media-queries/max-width-436px";