//UTILITIES
@import "./utilities/maps";

@import "./utilities/mixins";

@import "./utilities/variables";

@import "./utilities/funciones";

//BASE
@import "./base/reset";

@import "./base/fonts";

@import "./base/body-color";

//COMPONENTS
@import "./components/buttons/buttons";

/*HEADER INDEX*/
@import "./layout/header/header-index";

/*FOOTER*/
@import "./layout/footer/footer";

/*BARRA DE NAVEGACIÓN*/
@import "./components/navbar/navbar";

@import "./layout/index-sections/section-1";

@import "./layout/index-sections/section-2";

@import "./layout/header/header-destinos";

/*aca empiezan las modificaciones para las cards*/
.seccionDestinos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
    width: 100%;
}

/*aca se encuentran las modificaciones para la card de tres imágenes*/
.fondoContenedor{
    background-image: url(../assets/img/fondos/fondo-seccion-destinos.png);
    background-repeat: no-repeat;
    height: 350px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contenedorImagenesPrincipal{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contenedorImagenes{
    background-color: #0F1035;
    width: 265px;
    height: 300px;
    border-color:#ffffff;
    border-width: 7px 0px 0px 7px;
    border-style: groove;
}

.contenedorTexto p{
    border-top: 3px;
    border-right: 3px;
    border-bottom: 3px;
    border-left: 0px;
    border-color: orangered;
    border-style: solid;
    padding: 2px;
    font-family: "Pavanam";
    color: #ffffff;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
}

.contenedorArticulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 23%;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.seccionDestinos h2{
    color: white;
    font-family: "Pavanam";
    font-weight: lighter;
    text-align: center;
    
}

.seccionDestinos h3{
    font-family: "Pavanam";
    color: #ffffff;
    font-weight: lighter;
}

.imgDestinos{
    height: 100%;
    width: 100%;
}

/*aca está la card de dos imágenes*/
.contenedorarticuloDos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 23%;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.contenedortextoDos{
    border-top: 3px;
    border-right: 0px;
    border-bottom: 3px;
    border-left: 3px;
    border-color: orangered;
    border-style: solid;
    text-align: center;
    font-size: 18px;
    font-family: "Pavanam";
    color: #ffffff;
    padding: 2px;
    font-weight: lighter;
}

.contenedorimagenesDos{
    background-color: #0F1035;
    width: 265px;
    height: 300px;
    border-color: #ffffff;
    border-width: 7px 7px 0px 0px;
    border-style: groove;
}

/*aca se encuentra la opción actividades/hoteles del final de la página destinos*/
.opcionesGrid{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 310px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-template-rows: 30px 240px 30px;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}

.opcion1H3{
    font-family: "Pavanam";
    color: #ffffff;
    font-weight: lighter;
    font-size: 25px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.opcion1Act{
    height: 240px;
    width: 240px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
}

.opcion2Act{
    height: 240px;
    width: 240px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
}

.linkVerMas{
    color: #ffffff;
    font-family: "Pavanam";
    font-weight: lighter;
    text-decoration: none;
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.opcion2H3{
    font-family: "Pavanam";
    color: #ffffff;
    font-weight: lighter;
    font-size: 25px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.opcion1Hoteles{
    height: 240px;
    width: 240px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
}

.opcion2Hoteles{
    height: 240px;
    width: 240px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
}

.linkVerMas2{
    color: #ffffff;
    font-family: "Pavanam";
    font-weight: lighter;
    text-decoration: none;
    font-size: 20px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.linkVerMas:hover{
    color: orange;
}

.linkVerMas2:hover{
    color:orange;
}

.imgOpciones{
    width: 100%;
    height: 100%;
}

.ulOpciones{
    list-style: none;
    position: absolute;
    bottom: 0;
    margin: 6px;
}

.li1{
    font-family: "pavanam";
    color: #ffffff;
    font-weight: bolder;
}

.li2{
    font-family: "Pavanam";
    color: #ffffff;
    font-weight: lighter;
}










/*PÁGINA ACTIVIDADES*/

/*fondo*/
.headerActividades{
    background-image: url(../assets/img/fondos/fondo-actividades.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 100vh;
    width: 100%;
}

/*modificaciones título y redes sociales*/
.seccionHeaderActividades{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85%;
    justify-content: space-between;
    align-items: center;
}

.redesActividades{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
}

.redesActividades img{
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.h1Actividades{
    font-family: "Paytone one";
    color: #ffffff;
    text-align: right;
    font-size: 70px;
    margin-right: 15px;
    text-shadow: 2px 2px 3px black;
}

/*aca comienzan las modificaciones del main*/
.contenedorPrincipal{
    display: grid;
    grid-template-columns: 570px 570px;
    justify-content: center;
    margin-top: 100px;
    gap: 30px;
}

.contenedorSecundario{
    width: 550px;
    height: 525px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 2px;
    border-color: orangered;
    border-style: solid;
}

.contenedorSecundario {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    font-family: "Pavanam";
    font-weight: lighter;
}

.legendAct{
    font-size: 30px;
    background-color: #0F1035;
}

.contenedorUno{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.contenedorDos{
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
}

.botonExcursion{
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    padding: 4px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px;
    border-color: #ffffff;
    border-style: solid;
}










/*PÁGINA HOTELES*/

/*fondo*/
.headerHoteles{
    background-image: url(../assets/img/fondos/fondo-hoteles.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 100vh;
    width: 100%;
    margin-bottom: 100px;
}

/*modificaciones titulo y redes sociales*/
.seccionHeaderHoteles{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.redesHoteles{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.redesHoteles img{
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.h1Hoteles{
    font-family: "Paytone one";
    color: #ffffff;
    text-align: center;
    font-size: 70px;
    text-shadow: 2px 2px 3px black;
    height: 320px;
    margin-top: 80px;
}

/*aca comienzan las modificaciones del main*/
.seccionPrincipalHoteles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: 950px;
}

.contenedorHoteles{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: 2px;
    border-color: orangered;
    border-style: solid;
    width: 1000px;
    height: 390px;
}

.articleHoteles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    background-color: #D9D9D9;
    height: 365px;
    width: 310px;
}

.estrellasHoteles{
    align-self: center;
}

.imgHoteles{
    background-color: #365486;
    width: 290px;
    height: 200px;
    align-self: center;
} 

.articleHoteles ul{
    list-style: none;
    color: #000000;
    font-family: "Pavanam";
    margin-left: 8px;
}

.botonReservarHotel{
    align-self: center;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    color: #000000;
    font-family: "Pavanam";
    font-weight: lighter;
    border: 1px;
    border-color: #000000;
    border-style: solid;
    border-radius: 2px;
}










/*PÁGINA CONTACTO*/

/*fondo*/
.headerContacto{
    background-image: url(../assets/img/fondos/fondocontactanos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 100vh;
    width: 100%;
}

/*modificaciones título*/
.h1Contacto{
    font-family: "Paytone One";
    color: #ffffff;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 3px black;
}

/*aca se encuentra el form de la página contacto*/
.formularioContacto{
    width: 100%;
    height: 410px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.grid{
    list-style: none;
    width: 1060px;
    height: 420px;
    border-top: 2px;
    border-right: 2px;
    border-bottom: 2px;
    border-left: 2px;
    border-style: solid;
    border-color: orangered;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 15px;
    grid-template-columns: 400px repeat(2, 300px);
    grid-template-rows: 70px 70px 70px 70px 50px;
    grid-template-areas: 
    "areaUno areaDos areaTres"
    "areaUno areaCuatro areaCuatro"
    "areaUno areaCinco areaCinco"
    "areaUno areaCinco areaCinco"
    ". areaSeis areaSeis"
    ;
}

.areaUno{
    grid-area: areaUno;
}

.areaUno img{
    width: 100%;
    height: 325px;
}

.areaDos{
    grid-area: areaDos;
}

.areaDos input{
    width: 100%;
    height: 100%;
}

.areaTres{
    grid-area: areaTres;
}

.areaTres input{
    height: 100%;
    width: 100%;
}

.areaCuatro{
    grid-area: areaCuatro;
}

.areaCuatro input{
    width: 100%;
    height: 100%;
}

.areaCinco{
    grid-area: areaCinco;
}

.areaCinco textarea{
    height: 100%;
    width: 100%;
}

.areaSeis{
    grid-area: areaSeis;
    justify-self: center;
}

.areaSeis input{
    width: 150px;
    height: 50px;
    background-color: orangered;
    color: #ffffff;
    font-family: "Pavanam";
    font-size: 19px;
    border-radius: 3px;
    border: none;
}

.grid li input::placeholder{
    font-family: "Pavanam";
    font-size: 20px;
}

.grid li textarea::placeholder{
    font-family: "Pavanam";
    font-size: 20px;
}

/*MEDIAS QUERIES*/
@import "./layout/media-queries/max-width-1300px";

@import "./layout/media-queries/max-width-1210px";

@import "./layout/media-queries/max-width-1100px";

@import "./layout/media-queries/max-width-900px";

@import "./layout/media-queries/max-width-720px";

@import "./layout/media-queries/max-width-665px";

@import "./layout/media-queries/max-width-600px";

@import "./layout/media-queries/max-width-565px";

@import "./layout/media-queries/max-width-510px";

@import "./layout/media-queries/max-width-436px";