.headerActividades{
    background-image: url(../assets/img/fondos/fondo-actividades.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 100vh;
    width: 100%;
    .seccionHeaderActividades{
        @include flex (row, space-between, center, 0px);
        width: 100%;
        height: 85%;
        .redesActividades{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-left: 15px;
            img{
                height: 45px;
                width: 45px;
                cursor: pointer;
            }
        }
        .h1Actividades{
            font-family: map-get($font-family, principal);
            color: map-get($colores, font-color);
            text-align: right;
            font-size: 70px;
            margin-right: 15px;
            text-shadow: 2px 2px 3px black;
        }
    }
}


