@media(max-width: 510px){

    //PÁGINA INDEX MODIFICACIONES

    //header modificaciones
    .headerHome{
        background-image: url(../assets/img/fondos/imgfondohome-510px.png); 
        height: 550px; 
            //modificación H1 
            .contenedorh1Argentina{
                .h1Argentina{
                    font-size: 65px;
                }
            }

        }

//modificaciones sección-1 página index

    .secciónDosPáginaHome{
        height: 1100px; 
        .presentacionGrid{
            height: 980px; 
            grid-template-columns: 1px 55px 55px 250px; 
            grid-template-rows: 700px 75px 75px 75px; 
            margin-bottom: 50px; 
            text-align: center;
        }
    }

     //PÁGINA ACTIVIDADES

    .headerActividades{
        .seccionHeaderActividades{
            .h1Actividades{
                font-size: 45px; 
            }
        }
    }
}