@media(max-width: 565px){

    .footer{
        align-items: center; 
        .divfooterUno{
            .logoFooter{
                width: 140px; 
            }
        }
        .divfooterDos{
            p{
                font-size: 23px; 
            }
            .contenedorRedesFooter{
                .imgFooter{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}