@media(max-width: 510px){

    /*PÁGINA INDEX MODIFICACIONES*/

    //header modificaciones
    .headerHome{
        background-image: url(../assets/img/fondos/imgfondohome-510px.png); 
        height: 550px; 
            //modificación H1 
            .contenedorh1Argentina{
                .h1Argentina{
                    font-size: 65px;
                }
            }

        }
    
    

    /*modificaciones presentación grid 3 img*/
    
    .presentacionGrid{
        height: 980px; 
        width: 100%;
        display: grid;
        grid-template-columns: 55px 55px 55px 230px;
        grid-template-rows: 750px 75px 75px 75px 200px;
        margin-bottom: 50px;
    }
    
    .presentacionGrid img{
        height: 400px;
        width: 270px; 
    }
    
    .imgAzul{
        border: 3px solid orangered;
        grid-column-start: 2;
        grid-row-start: 3;
    }
    
    .imgUnoPresentacion{
        grid-column-start: 3;
        grid-row-start: 2;
    }
    
    .imgDosPresentacion{
        grid-column-start: 1;
        grid-row-start: 4;
    }
    
    }