@media (max-width: 900px){

    /*BARRA DE NAVEGACIÓN*/
    .nav{
        #toggle:checked ~ .contenedorNav{ 
            height: 270px; 
        }
        label{ 
            display: inline-flex;
            cursor: pointer; 
        }
        .aLogoNav2{
            .logoNav2{
                display: inline-block;
            } 
        }
        .contenedorNav{
            width: 100%;
            height: 0; 
            margin-left: 0px; 
            overflow: hidden; 
            margin-top: 75px; 
            .contenedorLinksNav{
                width: 170px; 
                height: 270px; 
                list-style: none;
                @include flex (column, center, flex-start, 40px);
                background-color: map-get($colores, navbar); 
                .liLogo{
                    display: none;
                }//para quitar el logo principal del ul 
            }
        }
    }

    /*PÁGINA INDEX*/
    
    //modificación height header
    
    .headerHome{
        height: 600px;
    }
    
//aca empiezan las modificaciones de la sección-1 index
.secciónDosPáginaHome{
    height: 700px;
    display: flex;
    @include flex (column, center, center, 0px);
    .redesHome{ //redes sociales
        flex-direction: row;
        margin-left: 0px;
        margin-top: 20px;
    }
}

    /*PÁGINA DESTINOS*/
    
    //medidas height de las 3 diferentes secciones diferentes
    
    .heightMediaQuery1{
        width: 100%;
        height: 1450px;
    }
    
    .heightMediaQuery2{
        width: 100%;
        height: 900px;
    }
    
    .heightMediaQuery3{
        width: 100%;
        height: 530px;
    }
    
    //aca empiezan las modificaciones para las cards

    .seccionDestinos{
        .fondoContenedor{
            .contenedorArticulo{
                width: 75%; 
                height: 130px;
            }
            .widthMediaQuery{
                width: 75%;
            }
        }
    }

}

