@media(max-width: 565px){

    /*FOOTER*/
    
    .footer{
        align-items: center; 
    }
    
    .logoFooter{
        width: 140px; 
        height: auto;
    }
    
    .divfooterDos p{
        font-size: 23px; 
    }
    
    .imgFooter{
        width: 30px; 
        height: 30px; 
    }
    
}