@media(max-width: 565px){

    .footer{
        align-items: center; 
        .divfooterUno{
            .logoFooter{
                width: 140px; 
            }
        }
        .divfooterDos{
            p{
                font-size: 23px; 
            }
            .contenedorRedesFooter{
                .imgFooter{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }


    //PÁGINA ACTIVIDADES

    .headerActividades{
        .seccionHeaderActividades{
            .redesActividades{
                img{ 
                    height: 40px;
                    width: 40px;
                }
            }
            .h1Actividades{
                font-size: 55px; 
            }
        }
    }
    
    .contenedorPrincipal{
        .contenedorSecundario{
            width: 420px; 
            height: 860px; 
            p{
                width: 380px;
            }
            .contenedorUno{
                flex-direction: column; 
            }
        }
        .trekking2{
            height: 900px;
        }
    }
}