@media(max-width: 1210px){

    //PÁGINA DESTINOS
    //modificaciones header
    .headerDestinos{ 
        .seccionHeaderDestinos{ 
            height: 80%; 
            .h1Destinos{
                font-size: 55px; 
            }
        }
    }

    //modificaciones medidas height&width de las 3 diferentes secciones 
    .heightMediaQuery1{
        width: 100%;
        height: 1450px;
    }
    
    .heightMediaQuery2{
        width: 100%;
        height: 900px;
    }
    
    .heightMediaQuery3{
        width: 100%;
        height: 530px;
    }
    
    //aca se encuentran las modificaciones para la card de tres imágenes

    .seccionDestinos{
        .fondoContenedor{
            height: 1000px; 
            width: 1100px; 
            @include flex (column-reverse, center, center, 0px);
            .contenedorImagenesPrincipal{
                justify-content: center; 
                align-items: center; 
                width: 100%; 
                height: 280px; 
                .contenedorImagenes{
                    width: 225px; 
                    height: 260px; 
                }
                .contenedorimagenesDos{
                    width: 225px; 
                    height: 260px; 
                }
            }
            .contenedorArticulo{
                width: 60%; 
                height: 130px;
                .contenedorTexto{
                    border-top: 3px;
                    border-right: 3px; 
                    border-bottom: 0px; 
                    border-left: 3px; 
                    border-color: map-get($colores, border-orangered);
                    border-style: solid;
                }
            }
            .contenedorarticuloDos{
                width: 60%; 
                height: 130px; 
                .contenedortextoDos{
                    border-top: 3px;
                    border-right: 3px; 
                    border-bottom: 0px; 
                    border-left: 3px; 
                    border-color: map-get($colores, border-orangered);
                    border-style: solid;
                }
            }
            .widthMediaQuery{
                width: 60%;
            }
        }
        .fondoElBolsón{
            .contenedorarticuloDos{
                width: 40%;
                height: 160px;
            }
        }
        .noReverseMediaQuery{
            flex-direction: column;
        }
    }
}