@media (max-width: 436px){

/*BARRA DE NAVEGACIÓN MODIFICACIONES*/
.nav{
    label{ 
        .iconoMenu{
            font-size: 55px; 
            margin-left: 0px; 
            padding-top: 7px; 
        }
    }
    .aLogoNav2{
        .logoNav2{
            display: none;
        } 
    }
    .aLogoNav3{ //logo para media query 4360px
        display: inline-block; 
    }
    .divnavCuenta{
        .logoCuenta{
            height: 45px; 
        }
    }
}

/*FOOTER MODIFICACIONES*/
    .footer{
        height: 350px; 
        @include flex (column-reverse, center, center, 20px);
        .divfooterUno{
            text-align: center;
            margin-left: 0px;
            margin-top: 0px;
        }
        .divfooterDos{
            p{
                font-size: 20px;
            }
        }
        .divfooterTres{
            margin-right: 0px;
            .listaFooter{
                text-align: center;
            }
        }
    }


/*PÁGINA INDEX MODIFICACIONES*/
    .headerHome{
        background-image: url(../assets/img/fondos/imgfondohome-320px.png);
        height: 100vh;
        .contenedorh1Argentina{
            width: 100%;
            height: 260px;
            p{
                font-size: 18px; 
                width: 70%;
            }
            //modificación H1 
            .h1Argentina{
                font-size: 50px;
            }
        }
    }
    
//modificaciones sección-1 index
    .secciónDosPáginaHome{
        height: 1150px; 
        .presentacionGrid{
            height: 1180px; 
            grid-template-columns: 1px 50px 50px 170px; 
            grid-template-rows: 800px 75px 75px 75px; 
            margin-bottom: 150px;
            .articlePresentacion{
                margin-bottom: 130px;
                h2{
                    font-size: 25px;
                }
                p{
                    font-size: 23px;
                    margin-top: 15px;
                }
            }
            img{
                height: 300px;
                width: 170px;
            }
        }
    }
        //sección-2 página index modificaciones
        .secciónTresPáginaHome{
            height: 1500px;
            .h3DestinosPopulares{
                width: 70%;
                font-size: 35px;
                text-align: center;
            }
            .h3Hoteles{ 
                width: 100%;
                font-size: 35px;
                text-align: center;
            }
        }


    /*PÁGINA DESTINOS*/
    
    /*modificaciones título principal*/
    .headerDestinos{
        .seccionHeaderDestinos{
            .h1Destinos{
                font-size: 30px; 
            }
            .redesDestinos{
                img{
                    height: 28px;
                    width: 28px;
                }
            }
        }
    }
    
    .contenedorArticulo{
        width: 69%; 
        height: 365px; 
    }
    
    /*aca está la card de dos imágenes*/
    
    .contenedorarticuloDos:not(.contenedorArticuloBsAs){
        width: 69%;
        height: 290px;
    }
    
    .contenedorArticuloBsAs{
        width: 70%;
        height: 390px;
    }
    
    .widthMediaQuery{
        width: 69%;
    } /*ancho del artículo de bs as y misiones*/
    
}