/*PÁGINA INDEX*/
@media(max-width: 1300px){

    //modificaciones header index
    //modificación tamaño del contenedor del título 
    .contenedorh1Argentina{
        height: 340px;
    }
    
    //aca empiezan las modificaciones de la sección-1 index
    //aca se encuentran las modificaciones de la presentación con grid (3 img)
    .secciónDosPáginaHome{
        .presentacionGrid{
            grid-template-columns: 75px 75px 260px 300px; //modificación tamaño última columna
            .articlePresentacion{
                h2{
                    font-size: 30px; 
                }
            }
        }
    }
    //
    .secciónTresPáginaHome{
        height: 610px;//
        .h3DestinosPopulares{
            width: 75%;
        }
        .contenedorDestinos{ //
            flex-wrap: wrap; 
            justify-content: center; 
        }
        .h3Hoteles{ //modificación título hoteles
            width: 75%;
        }
    }

    //modificación width h3 destinos populares
    .h3DestinosPopulares{
        width: 75%;
    }
}
