$colores: (
body-color: #0F1035,
font-color: white,
hover: orange,
button-orange: orangered,
footer: #0F1035,
navbar: #0f1035d7,
fondo-logo: #0F1035,
border-orangered: orangered, 
);

$font-family: (
principal: "Paytone One",
secundaria: "Pavanam",
);

$font-size: (
h1: 6.25rem,
h2: 2.5rem,
h3: 2.1875rem,
p: 1.4375rem,
link-navbar: 1.5625rem,
);


