.seccionPrincipalHoteles{
    @include flex (column, center, center, 100px);
    width: 100%;
    height: auto;
    .contenedorHoteles{
        @include flex (row, center, center, 20px);
        flex-wrap: wrap;
        width: 95%;
        height: auto;
        .articleHoteles{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3px;
            background-color: #D9D9D9;
            height: 365px;
            width: 310px;
            margin-top: 20px;
            margin-bottom: 20px;
            border: 4px;
            border-color: map-get($colores, border-orangered);
            border-style: solid;
            .imgHoteles{
                background-color: #365486;
                width: 290px;
                height: 200px;
                align-self: center;
            } 
            .estrellasHoteles{
                align-self: center;
            }
            ul{
                list-style: none;
                color: map-get($colores, ul-hoteles);
                font-family: map-get($font-family, secundaria);
                margin-left: 8px;
            }
            .botonReservarHotel{
                align-self: center;
                text-decoration: none;
                padding: 0px 5px 0px 5px;
                color: #000000;
                font-family: map-get($font-family, secundaria);
                font-weight: lighter;
                border: 1px;
                border-color: #000000;
                border-style: solid;
                border-radius: 2px;
            }
        }
    }
}



